*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cowworking;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #7d7e7f;

}
#mtext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    font-family: kana;
    color: white;
}
#mtext h1{
    white-space: nowrap;
    line-height: 1;
    font-size: 9vw;
    font-weight: 50;
}
#mtext h3{
    white-space: nowrap;
    line-height: 1;
    font-size: 3vw;
    font-weight: 50;
}

#left{
    height: 100%;
    width: 45%;
    position: relative;
    overflow: hidden;
}
#nav{display: flex;
    height: 7%;
    width: 100%;
    color: white;
    padding: 100px 80px;
    gap: 260px;
}
#nav h3{
    font-size: 25px;
    letter-spacing: 5px;
}
#nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    letter-spacing: 5px;
}
#lcenter{
    height: 60%;
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-image: url(photo_2023-07-05_15-32-55.jpg);
    background-size: cover;
    background-position: center;
}
#lcenter #text{
    width: 100%;
    position: absolute;
    bottom: -25%;
    display: flex;
    gap: 25px;
    padding: 10px;
    color: white;
}
#ltext{
    line-height: 80px;
}
#ltext h3{
    font-size: 22px;
    
}
#context{
    line-height: 30px;
    padding: 20px;
}
#context h5{
    opacity: 5px;
    font-size: 17px;
}
#scrool{display: flex;
    align-items: center;
    width: 60%;
    position: absolute;
    left: 10%;
    bottom: -2%;
    transform-origin: 0% 50%;
    transform: rotate(-90deg);
    gap: 30px;
}
#scrool h3{
    font-size: 20px;
    letter-spacing: 5px;
    color: white;
}
#line{
    height: 4px;
    width: 50%;
    background-color:rgb(255, 255, 255) ;
}
#center{
    height: 100%;
    width: 50%;
    background-image: url(photo_2023-07-05_15-32-54.jpg);
    background-size: cover;
    position: relative;


}
#card{
    height: 260px;
    width: 400px;
    display: flex;

    position: absolute;
    bottom: 0;
    right : -2%;
}
#cicon{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: 100%;
    width: 20%;
    background-color: white;
    
}
#cimage{
    height: 100%;
    width: 80%;
    background-image: url(https://images.unsplash.com/photo-1733035997778-65e038269fb8?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}
#right{
    height: 100%;
    width: 5%;
}
#rightbar{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 50px;
}

#relinks{
    transform: translateY(-250px) rotate(-90deg);
    display: flex;
    gap: 250px;

}
#relinks a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: white;
}